.booking-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.booking-container form input,
textarea {
    width: 35%;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    
}

.booking-container .submit {

    font-size: 18px;
}

.booking-container h2 {
    margin-top: 50px;
    margin-bottom: 20px;

}

.image-part{
    object-fit: cover;
}