.user-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.header-section:hover{
    border-bottom: 2px solid #DC3545;
    padding-bottom: 10px;
}
.logout-section{
    background-color: black!important;
}
.dropdown-toggle::after{
    color: white!important;
}
 
.dropdown-menu[data-bs-popper] {
    left: -35px;
   
}